Repository npldevfr/crypto-hub, pull requests merged in 2023-12, with the labels that each got.

#29 feat: synchro
  .DS_Store
  .github/workflows/api.yml
  api/.adonisrc.json
  api/.env.example
  api/README.md
  api/ace-manifest.json
  api/app/Controllers/Http/CryptocurrencyDataController.ts
  api/app/Controllers/Http/CryptocurrencyProvidersController.ts
  api/app/Controllers/Http/UsersController.ts
  api/app/Exceptions/Synchronization/NoProviderException.ts
  api/app/Exceptions/Synchronization/ProviderFetchException.ts
  api/app/Exceptions/Synchronization/ProviderKeyNotFoundException.ts
  api/app/Middleware/Auth.ts
  api/app/Middleware/SilentAuth.ts
  api/app/Models/Cryptocurrency.ts
  api/app/Models/CryptocurrencyData.ts
  api/app/Models/Synchronization.ts
  api/app/Synchronization/CoinGeckoProvider.ts
  api/app/Synchronization/CoinMarketCapProvider.ts
  api/app/Synchronization/Generic/CryptoEngineAdapter.ts
  api/app/Synchronization/Generic/CryptoProvider.ts
  api/commands/Synchronize.ts
  api/config/database.ts
  api/database/migrations/1700566022962_cryptocurrencies.ts
  api/database/migrations/1700566041719_cryptocurrency_data.ts
  api/database/migrations/1701776160021_synchronizations.ts
  api/database/migrations/1701791018776_api_tokens.ts
  api/database/seeders/CryptocurrencyProviderSeeder.ts
  api/package.json
  api/start/routes.ts
  api/start/scheduler.ts
  api/tests/bootstrap.ts
  api/tests/synchronization/methods.spec.ts
  api/tests/synchronization/test.spec.ts
  pnpm-lock.yaml
Labels: api, synchronization

#38 feat : added for back-end article source management
  api/app/Controllers/Http/ArticleSourcesController.ts
  api/app/Exceptions/Rss/NonConformingException.ts
  api/commands/RssFeed.ts
  api/rss/RssFeedManager.ts
  api/rss/RssFeedUpdater.ts
  api/start/routes.ts
  api/tests/rss/feed_updapter.spec.ts
Labels: api, back

#37 feat: admin panel on front
  api/.adonisrc.json
  api/ace-manifest.json
  api/app/Controllers/Http/HeadersController.ts
  api/app/Controllers/Http/UserManagementController.ts
  api/app/Controllers/Http/UserManagementsController.ts
  api/app/Controllers/Http/UsersController.ts
  api/app/Models/Cryptocurrency.ts
  api/app/Models/CryptocurrencyData.ts
  api/app/Synchronization/CoinGeckoProvider.ts
  api/app/Synchronization/Generic/CryptoProvider.ts
  api/contracts/bouncer.ts
  api/database/migrations/1700566022962_cryptocurrencies.ts
  api/database/seeders/CryptocurrencySeeder.ts
  api/database/seeders/UserSeeder.ts
  api/package.json
  api/rss/RssFeedUpdater.ts
  api/start/bouncer.ts
  api/start/routes.ts
  api/start/routes/v1/user.ts
  api/tests/user_test/test.spec.ts
  api/tsconfig.json
  front/components/Admin/Header/Bar.vue
  front/components/Admin/Header/Item.vue
  front/components/Button/Button.vue
  front/components/Button/Group.vue
  front/components/DataTable/DataTable.vue
  front/components/Header/Header.vue
  front/components/Navigation/Item.vue
  front/components/Navigation/Link.vue
  front/components/Navigation/Tabs/Article.vue
  front/components/Pagination/Pagination.vue
  front/components/User/Management/Card.vue
  front/composables/use-auth.ts
  front/composables/use-has-roles.ts
  front/formkit.theme.ts
  front/layouts/admin.vue
  front/middleware/admin.ts
  front/middleware/moderator.ts
  front/middleware/not-autenticathed.ts
  front/pages/admin/articles.vue
  front/pages/admin/cryptocurrencies.vue
  front/pages/admin/index.vue
  front/pages/admin/users/[id].vue
  front/pages/admin/users/index.vue
  front/services/userServiceController.ts
  front/types/pagination.ts
  pnpm-lock.yaml
Labels: front, api, admin

#40 feat(auth): implementation of oAuth2 providers (Google, Twitter)
  api/.adonisrc.json
  api/.env.example
  api/app/Controllers/Http/UsersAuthProvidersController.ts
  api/app/Models/User.ts
  api/app/Models/UsersAuthProvider.ts
  api/app/Synchronization/Generic/CryptoProvider.ts
  api/config/ally.ts
  api/contracts/ally.ts
  api/database/migrations/1700565838249_users.ts
  api/database/migrations/1700566075747_users_auth_providers.ts
  api/package.json
  api/rss/rssFeedUpdater.ts
  api/start/routes.ts
  api/tests/rss/feed_updapter.spec.ts
  api/tests/user_test/test.spec.ts
  api/tsconfig.json
  front/components/Social/Provider.vue
  front/composables/use-auth.ts
  front/pages/login.vue
  front/pages/register.vue
  pnpm-lock.yaml
Labels: front, api, authentication
