Repository npldevfr/crypto-hub, pull requests merged in 2024-01, with the labels that each got.

#45 feat: add swagger
  api/.adonisrc.json
  api/ace-manifest.json
  api/app/Controllers/Http/ArticleSourcesController.ts
  api/app/Models/ArticleSource.ts
  api/commands/RssFeed.ts
  api/config/swagger.ts
  api/package.json
  api/start/routes/v1/article-source.ts
  api/tests/user_test/test.spec.ts
  api/tsconfig.json
  eslint.config.js
  pnpm-lock.yaml
Labels: documentation

#50 Feat/admin page
  api/config/cors.ts
  front/pages/admin/articles/[id].vue
  front/pages/admin/articles/index.vue
  front/pages/admin/users/[id].vue
  front/services/articleSourcesServiceController.ts
Labels: front

#51 Page/article
  api/app/Controllers/Http/ArticlesController.ts
  api/app/Controllers/Http/HeadersController.ts
  api/start/routes.ts
  front/components/CardNews/CardNews.vue
  front/nuxt.config.ts
  front/package.json
  front/pages/article/[slug].vue
  front/pages/article/index.vue
  front/pages/index.vue
  front/services/articleServiceController.ts
  front/types/article.ts
  pnpm-lock.yaml
Labels: front, back

#54 Docs/complete swagger
  api/app/Controllers/Http/ArticlesController.ts
  api/app/Controllers/Http/AuthenticationController.ts
  api/app/Controllers/Http/CryptocurrencyDataController.ts
  api/app/Controllers/Http/UserController.ts
  api/app/Controllers/Http/UsersAuthProvidersController.ts
  api/app/Models/Article.ts
  api/app/Models/ArticlesTag.ts
  api/app/Models/CryptocurrencyData.ts
  api/app/Models/Role.ts
  api/app/Models/Synchronization.ts
  api/app/Models/Tag.ts
  api/app/Models/User.ts
  api/app/Models/UsersAuthProvider.ts
  api/app/Models/UsersRole.ts
  api/start/routes.ts
Labels: documentation, api
